{% extends "main.html.twig" %}
{% block body %}
	<img width="150" class="logo" src="images/logo.png" alt="">
	<div class="bottom">
		<a href="{{ path('authenticate') }}">Login</a>
	</div>
{% endblock %}

