<div class="menu">
	{% if return is defined %}
		<a href="{{ path(return) }}"><
		</a>
		<img src="/images/logo_mini.png" alt="">
	{% else %}
		<img src="/images/logo_mini.png" style="margin-left: 0px!important;" alt="">
	{% endif %}
</div>